.choose-us-background {
  background-color: $darkBackgroundColour;
  height: 500px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $tertiary;
  text-align: center;
  margin-bottom: 280px;

  h3 {
    font-size: 3rem;
  }

  p {
    padding: 16px 0;
    font-size: 1.8rem;
  }

  .content-container {
    width: 50%;
    margin: 80px auto 0 auto;
  }

  .benefits-cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .card {
      background-color: $accent;
      width: 25%;
      height: 380px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 80px;
      padding: 16px;

      p {
        width: 80%;
        font-size: 1.6rem;
      }

      img {
        margin-bottom: 32px;
      }

    }
  }
}