.header {
  height: 80px;
  padding: 16px 0 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 25px;
  }

  ul {
    display: flex;

    li {
      margin-left: 32px;
    }
  }
}