.hero-section-main {
  background-image: url("../../assets/home/desktop/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 80vh;
  border-radius: 8px;
  padding: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $tertiary;

  .hero-content {
    width: 600px;

    .hero-text {
      margin: 46px 0px;
      width: 80%;
    }
  }


}

.hero-section-about {
  background-image: url("../../assets/about/desktop/image-hero-whitecup.jpg");
  background-position: top left;
  height: 56vh;
}

.hero-section-plan {
  background-image: url("../../assets/plan/desktop/image-hero-blackcup.jpg");
  background-position: top left;
  height: 56vh;
}