.order-summary {
  background-color: $secondary;
  width: 800px;
  margin-right: 100px;
  margin-left: auto;
  padding: 16px 24px;
  border-radius: 16px;
  color: $tertiary;

  h4 {
    margin-bottom: 16px;
    font-weight: $regularWeight;
  }

  .summary {
    font-size: 3rem;
    font-family: $headerFont;
    font-weight: $extraBoldWeight;
    line-height: 50px;
  }

  .user-choice {
    color: $accent;
    font-weight: $extraBoldWeight;
  }

  .underline {
    border-bottom: 2px solid $accent;
    display: inline-block;
    width: 56px;
    height: 8px;
    line-height: 0px;
  }
}