html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: $bodyFont;
  background-color: $backgroundColour;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $headerFont;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $quaternary;
  font-weight: $boldWeight;
  transition: 0.5s;

  &:hover {
    color: $secondary;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: $accent;
    text-decoration-thickness: 2px;
  }
}