html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: $bodyFont;
  background-color: $backgroundColour;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $headerFont;
  font-weight: $extraBoldWeight;
  font-size: 8.4rem;
}



img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $quaternary;
  font-weight: $boldWeight;
  transition: 0.5s;


}

li a {
  &:hover {
    color: $secondary;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: $accent;
    text-decoration-thickness: 2px;
  }
}

.button {
  color: $tertiary;
  padding: 14px 24px;
  background-color: $accent;
  border-radius: 8px;
  font-weight: $boldWeight;
  transition: 0.5;
  display: inline-block;
  border: 2px solid $accent;

  &:hover {
    background-color: #edf6f9;
    color: $accent;
    border: 2px solid $accent;
  }
}