//fonts
$headerFont: 'Fraunces', serif;
$bodyFont: 'Barlow', sans-serif;

//font-weights
$regularWeight: 400;
$semiBoldWeight: 500;
$boldWeight: 600;

//colours
$backgroundColour: #fefcf7;
$primary: #000;
$secondary: #333d4b;
$tertiary: #fff;
$quaternary: #83888f;
$accent: #0e8784;