//base styles
@import './styles/setup';
@import "./styles/partials";
@import './styles/baseStyles';

//sections
@import "./styles/sections/header-footer";
@import "./styles/sections/hero";
@import "./styles/sections/collections";
@import "./styles/sections/preferences";
@import "./styles/sections/order-summary";
@import "./styles/sections/order-summary-modal";
@import './styles/sections/choose-us';
@import "./styles/sections/how-it-works";
@import "./styles/sections/about";
@import "./styles/sections/questions-summary"