//base styles
@import './styles/setup';
@import "./styles/partials";
@import './styles/baseStyles';

//sections
@import "./styles/sections/header-footer";
@import "./styles/sections/hero";
@import "./styles/sections/collections";
@import "./styles/sections/preferences";
@import "./styles/sections/order-summary";